language: scala
scala:
  - 2.12.8
jdk:
  - oraclejdk11
  - openjdk11

before_install:
  - export TZ=Europe/Rome
  - date
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

script:
  - './gradlew clean build test reportScoverage'

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

notifications:
  email:
    recipients:
      - gioele.masini@studio.unibo.it
      - andrea.pruccoli2@studio.unibo.it
      - luca.maestri@studio.unibo.it
    on_success: never
    on_failure: always
